# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**dist/*
/tmp
/out-tsc
tsconfig.nx-tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/typings
.envrc

# System Files
.DS_Store
Thumbs.db
*.swp

# Environment Variable/Secrets
.env
.npmrc

# logs
*.log

/build